azure-identity==1.17.1
azure-search-documents==11.5.1
backports.tarfile==1.2.0
gradio==4.43.0
importlib-metadata==8.0.0
jaraco.text==3.12.1
langchain-community==0.2.16
langchain-openai==0.1.23
markdown==3.7
python-dotenv==1.0.1
tomli==2.0.1
unstructured==0.15.9
